<div class="container" id="index_wrapper">
	<div id="index_container">
		<div id="title">Brewscovery</div>
		<form action="./search" method="get">
			<input class="search_container search_container_big" type="text" placeholder="Enter keywords to search here..." name="query"><br>
			<input class="search_submit search_submit_big" type="submit" value="Search">
		</form>
	</div>
</div>