<div class="wrapper">
	<div id="reg_container">
		<div id="reg_title">Sign up for Brewscovery!</div>
		<form action="./adduser" method="get" id="reg_form">
			<input class="reg_text" placeholder="First name..." type="text" name="firstname"><br>
			<input class="reg_text" placeholder="Last name..." type="text" name="lastname"><br>
			<input class="reg_text" placeholder="Email address..." type="text" name="email"><br>
			<input class="reg_text" placeholder="Create a password..." type="password" name="pw"><br>
			<input class="submit" type="submit" value="Submit" id="reg_submit">
		</form>
	</div>
</div>