body{
	background-color: #6f4e37;
	color: #c79567;
	font-family: 'Merriweather Sans', sans-serif;
	margin: 0;
}

.container{	
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

#index_wrapper{
	height: 100%;
}

#index_container{
	position: relative;
	top: 50%;
	margin: 0 auto;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	text-align: center;
}

#title{
	font-size: 3.85em;
	letter-spacing: 0.15em;	
}

.search_container{
	padding: 0px 10px;
	border: 1.5px solid #5e422f;
	color: #6f4e37;
	font-family: 'Merriweather Sans', sans-serif;
}

.search_container_big{
	margin: 30px 0px;	
	height: 60px;
	width: 100%;
	border-radius: 10px;
	font-size: 1.5em;
	letter-spacing: 0.075em;
	line-height: 45px;
	max-width: 600px;
}

.search_container_small{
	margin: 0px 10px;
	height: 40px;
	width: 100%;
	border-radius: 10px;
	font-size: 1em;
	letter-spacing: 0.075em;
	line-height: 40px;
	max-width: 500px;
}

.search_container:focus{
	outline: none !important;
}

.search_submit{
	background-color: #3c2a1e;
	border: none;
    color: #d7b392;
    font-family: 'Merriweather Sans', sans-serif;
}

.search_submit_big{
	height: 55px;
	width: 150px;
	border-radius: 7.5px;
	font-size: 1.5em;
	letter-spacing: 0.1em;
}

.search_submit_small{
	position: absolute;
	height: 40px;
	width: 100px;
	border-radius: 7.5px;
	font-size: 1em;
	letter-spacing: 0.1em;
}

.search_submit:hover{
	cursor: pointer;
}

#results_form{
	margin: 30px 0px 0px;
	text-align: center;
}

#results_query{
	color: white;
	letter-spacing: 0.025em;
	margin: 30px auto;
	text-align: center;
}

.list-entry{
	background-color: #d7b392;
	color: #6f4e37;
	border-radius: 10px;
	font-size: 1.05em;
	margin: 15px auto;	
	padding: 15px 25px;
	max-width: 1000px;
}

.list-entry b{
	letter-spacing: 0.05em;
}

.coffee-link{
	color: #6f4e37;
}

.coffee-link:hover{
	color: brown;
}